.categories__title {
    background: #110a1f;
    color: white;
    font-size: 16px;
    margin-top: -16px;
    position: absolute;
    padding-left: 30px;
    width: 100%;
    
  }

  .categories{
    border: thin;
    border-color: white;
  }